webServiceCheckOk/Web References/WsCheckAuto/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ParametroOpcional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParametroOpcionalResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarComParametro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXMLSolicitacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParametroOpcional" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarComParametroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarComParametroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consultar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXMLSolicitacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParametroOpcionalSoapIn">
    <wsdl:part name="parameters" element="tns:ParametroOpcional" />
  </wsdl:message>
  <wsdl:message name="ParametroOpcionalSoapOut">
    <wsdl:part name="parameters" element="tns:ParametroOpcionalResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarComParametroSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarComParametro" />
  </wsdl:message>
  <wsdl:message name="ConsultarComParametroSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarComParametroResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapIn">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ParametroOpcionalHttpGetIn">
    <wsdl:part name="Param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParametroOpcionalHttpGetOut" />
  <wsdl:message name="ConsultarComParametroHttpGetIn">
    <wsdl:part name="strXMLSolicitacao" type="s:string" />
    <wsdl:part name="ParametroOpcional" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarComParametroHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarHttpGetIn">
    <wsdl:part name="strXMLSolicitacao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ParametroOpcionalHttpPostIn">
    <wsdl:part name="Param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParametroOpcionalHttpPostOut" />
  <wsdl:message name="ConsultarComParametroHttpPostIn">
    <wsdl:part name="strXMLSolicitacao" type="s:string" />
    <wsdl:part name="ParametroOpcional" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarComParametroHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarHttpPostIn">
    <wsdl:part name="strXMLSolicitacao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ParametroOpcional">
      <wsdl:input message="tns:ParametroOpcionalSoapIn" />
      <wsdl:output message="tns:ParametroOpcionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <wsdl:input message="tns:ConsultarComParametroSoapIn" />
      <wsdl:output message="tns:ConsultarComParametroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarSoapIn" />
      <wsdl:output message="tns:ConsultarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="ParametroOpcional">
      <wsdl:input message="tns:ParametroOpcionalHttpGetIn" />
      <wsdl:output message="tns:ParametroOpcionalHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <wsdl:input message="tns:ConsultarComParametroHttpGetIn" />
      <wsdl:output message="tns:ConsultarComParametroHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarHttpGetIn" />
      <wsdl:output message="tns:ConsultarHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="ParametroOpcional">
      <wsdl:input message="tns:ParametroOpcionalHttpPostIn" />
      <wsdl:output message="tns:ParametroOpcionalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <wsdl:input message="tns:ConsultarComParametroHttpPostIn" />
      <wsdl:output message="tns:ConsultarComParametroHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarHttpPostIn" />
      <wsdl:output message="tns:ConsultarHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParametroOpcional">
      <soap:operation soapAction="http://tempuri.org/ParametroOpcional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <soap:operation soapAction="http://tempuri.org/ConsultarComParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParametroOpcional">
      <soap12:operation soapAction="http://tempuri.org/ParametroOpcional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <soap12:operation soapAction="http://tempuri.org/ConsultarComParametro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap12:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ParametroOpcional">
      <http:operation location="/ParametroOpcional" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <http:operation location="/ConsultarComParametro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <http:operation location="/Consultar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ParametroOpcional">
      <http:operation location="/ParametroOpcional" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComParametro">
      <http:operation location="/ConsultarComParametro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <http:operation location="/Consultar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://www.checkauto.com.br/ws20v2/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://www.checkauto.com.br/ws20v2/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://www.checkauto.com.br/ws20v2/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://www.checkauto.com.br/ws20v2/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>