webServiceCheckOk/Web References/WsCarsys/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.carsys.com.br" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.carsys.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.carsys.com.br">
      <s:element name="WSCSL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCSLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCSLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCSBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCSVE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Motor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCSVEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCSVEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBases">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBasesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBasesResult" type="tns:DTO_Bases" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTO_Bases">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PlacaConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoConsulta" type="tns:DTO_Consulta" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoConsultaBF" type="tns:DTO_Consulta" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoLeilao" type="tns:DTO_Leilao" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoLeilao2" type="tns:DTO_Leilao" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoDecodificador" type="tns:DTO_DecodificadorResult" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoAgregado" type="tns:DTO_Agregado" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoSinistro" type="tns:DTO_Sinistro" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoGravame" type="tns:DTO_Gravame" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoProprietarios" type="tns:DTO_Proprietarios" />
          <s:element minOccurs="0" maxOccurs="1" name="Erro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Consulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UFConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErroConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrMotor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Renavam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Procedencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Especie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrCambio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoFabricacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoModelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Combustivel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CapPassageiros" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CapCarga" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Potencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cilindrada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdeEixos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrCarroceria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrEixoTraseiro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CapTracao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PesoBruto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiRemarcado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Montagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Situacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataAtualizacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeProprietario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFCNPJProprietario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeProprietarioAnterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ocorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorIDDebitos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasDetran" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasDersa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasDER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasMunicipais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasCETESB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasRenainf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultasPRF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DebitosDPVAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusIPVA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DebitosIPVA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DebitosLicenciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusMulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalDebitosMultas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RestricaoFinanceira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RestricaoFurto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RestricaoAdministrativa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RestricaoJudicial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RestricaoTributaria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Restricao1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Restricao2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Restricao3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Restricao4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BloqueioJudicial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BloqueioJudicialRenajud" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BloqueioGuincho" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExercicioLicenciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataLicenciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmissaoCRLV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComunicacaoVenda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataComunicacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataVenda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataNotaFiscal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataProtocoloDetran" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataIntencaoTrocaFinan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comprador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFCNPJComprador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InspecaoVeicular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInspecaoVeicular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Arrendatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Financeira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFCNPJArrendatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeAgente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeInformante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrContrato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VigenciaContrato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusaoGravame" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRestricaoFinanceira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransacaoFinanceira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFinanciado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusaoFinanciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoTransacaoFinanceira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InformanteFinanciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFCNPJFinanceira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeAgenteFinanceiro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrContratoFinanciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataVigenciaContratoFinanc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCLUIDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaRF" type="tns:ArrayOfDTO_ConsultaRF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDTO_ConsultaRF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTO_ConsultaRF" nillable="true" type="tns:DTO_ConsultaRF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_ConsultaRF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RouboFurtoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoriaOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ano" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgaoSeguranca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Boletim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeclaracao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataOcorrencia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Leilao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaIDRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeilaoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErroConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoFabricacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoModelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Combustivel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comitente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CondicoesVeiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataLeilao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeilaoFornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Leiloeiro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrCambio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrCarroceria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrEixoTraseiro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrMotor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VeiculoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Patio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdeEixos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Renavam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SituacaoChassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlFoto1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlFoto2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlFoto3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlFoto4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoLeilaoFoto" type="tns:DTO_LeilaoFoto" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_LeilaoFoto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LeilaoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_DecodificadorResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DecodificadorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fabricante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoFabricacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoModelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Combustivel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegiaoGeografica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDaFabrica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Veiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Versao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tracao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transmissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Portas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDaCarroceria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErroConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Decodificacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMolicar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorMolicar" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Agregado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErroConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fabricante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GrupoModelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarcaModelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoFabricacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoModelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrMotor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrCarroceria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NrCambio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdePassageiros" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdeEixos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cilindrada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Combustivel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Potencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoVeiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCarroceria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Sinistro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SinistroID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassiConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusaoSinistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCLUIDO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Gravame">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdutoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FornecedorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFinanciado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocFinanciado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Renavam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarcado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UFLicenciamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Financeira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocFinanceira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Situacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoXML" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Proprietarios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VEICULAR" type="tns:ProprietarioVEICULAR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProprietarioVEICULAR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HEADER" type="tns:ProprietarioHEADER" />
          <s:element minOccurs="0" maxOccurs="1" name="PROP_ANTERIORES" type="tns:PROP_ANTERIORES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProprietarioHEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VERSAO_RESPOSTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EXISTE_ERRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSG_ERRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_CONSULTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODIGO_PRODUTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOGON_CONSULTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA_CONSULTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PARAMETROS" type="tns:ProprietarioPARAMETROS" />
          <s:element minOccurs="0" maxOccurs="1" name="DADOS_RETORNADOS" type="tns:DADOS_RETORNADOS" />
          <s:element minOccurs="0" maxOccurs="1" name="ALERTAS_ASSOCIADOS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProprietarioPARAMETROS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PLACA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHASSI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF_CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_CAMBIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_MOTOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_CARROCERIA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_EIXO_TRASEIRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_TERCEIRO_EIXO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRLV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RENAVAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DADOS_RETORNADOS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AGREGADOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIN_NACIONAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIN_ESTADUAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GRAVAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LEILAO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONFERENCIA_MOTOR_E_CHASSI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROP_ANTERIORES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HISTORICO_ROUBO_FURTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROUBO_FURTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PERDA_TOTAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DPVAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECODIFICADOR_DE_CHASSI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRECIFICADOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RENAJUD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RENACH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRLV" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PROP_ANTERIORES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EXISTE_ERRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSG_ERRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_OCORRENCIAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OCORRENCIAS" type="tns:ProprietarioOCORRENCIAS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProprietarioOCORRENCIAS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PROP_ANTERIORES_ITEM" type="tns:PROP_ANTERIORES_ITEM" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PROP_ANTERIORES_ITEM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID_PAG_DUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF_DUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMERO_DUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ANO_EXERCICIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLACA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RENAVAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHASSI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOME_PROPRIETARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGC_CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMERO_BANCO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA_PROCESSAMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA_EMISSAO_GUIA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALDO" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSCSLSoapIn">
    <wsdl:part name="parameters" element="tns:WSCSL" />
  </wsdl:message>
  <wsdl:message name="WSCSLSoapOut">
    <wsdl:part name="parameters" element="tns:WSCSLResponse" />
  </wsdl:message>
  <wsdl:message name="WSCSBSoapIn">
    <wsdl:part name="parameters" element="tns:WSCSB" />
  </wsdl:message>
  <wsdl:message name="WSCSBSoapOut">
    <wsdl:part name="parameters" element="tns:WSCSBResponse" />
  </wsdl:message>
  <wsdl:message name="WSCSVESoapIn">
    <wsdl:part name="parameters" element="tns:WSCSVE" />
  </wsdl:message>
  <wsdl:message name="WSCSVESoapOut">
    <wsdl:part name="parameters" element="tns:WSCSVEResponse" />
  </wsdl:message>
  <wsdl:message name="WSBasesSoapIn">
    <wsdl:part name="parameters" element="tns:WSBases" />
  </wsdl:message>
  <wsdl:message name="WSBasesSoapOut">
    <wsdl:part name="parameters" element="tns:WSBasesResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="WSCSL">
      <wsdl:input message="tns:WSCSLSoapIn" />
      <wsdl:output message="tns:WSCSLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSCSB">
      <wsdl:input message="tns:WSCSBSoapIn" />
      <wsdl:output message="tns:WSCSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSCSVE">
      <wsdl:input message="tns:WSCSVESoapIn" />
      <wsdl:output message="tns:WSCSVESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBases">
      <wsdl:input message="tns:WSBasesSoapIn" />
      <wsdl:output message="tns:WSBasesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSCSL">
      <soap:operation soapAction="http://www.carsys.com.br/WSCSL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCSB">
      <soap:operation soapAction="http://www.carsys.com.br/WSCSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCSVE">
      <soap:operation soapAction="http://www.carsys.com.br/WSCSVE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBases">
      <soap:operation soapAction="http://www.carsys.com.br/WSBases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSCSL">
      <soap12:operation soapAction="http://www.carsys.com.br/WSCSL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCSB">
      <soap12:operation soapAction="http://www.carsys.com.br/WSCSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCSVE">
      <soap12:operation soapAction="http://www.carsys.com.br/WSCSVE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBases">
      <soap12:operation soapAction="http://www.carsys.com.br/WSBases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="http://www.carsys.com.br/consulta/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="http://www.carsys.com.br/consulta/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>