webServiceCheckOk/Web References/WsTdi/Consulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://gravame.w3it.com.br/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax23="http://rfdenatran.w3it.com.br/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://gravame.w3it.com.br/xsd" xmlns:ax24="http://rfdenatran.w3it.com.br/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws">
      <xs:import namespace="http://gravame.w3it.com.br/xsd" />
      <xs:import namespace="http://rfdenatran.w3it.com.br/xsd" />
      <xs:element name="consultaGravame">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="chassi" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaGravameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Gravame" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaRf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaRfResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax24:RfDenatran" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rfdenatran.w3it.com.br/xsd">
      <xs:complexType name="RfDenatran">
        <xs:sequence>
          <xs:element minOccurs="0" name="ano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="anoModelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="chassi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoRetorno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoSituacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="situacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gravame.w3it.com.br/xsd">
      <xs:complexType name="Gravame">
        <xs:sequence>
          <xs:element minOccurs="0" name="chassi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravameanofabricacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravameanomodelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamecnpjagente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamecodigoagente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamedatastatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamedescricaostatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamenomeagente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamenumerogravame" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravameplaca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravamestatusveiculo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravameufgravame" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gravameufplaca" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="consultaRfRequest">
    <wsdl:part name="parameters" element="ns:consultaRf" />
  </wsdl:message>
  <wsdl:message name="consultaRfResponse">
    <wsdl:part name="parameters" element="ns:consultaRfResponse" />
  </wsdl:message>
  <wsdl:message name="consultaGravameRequest">
    <wsdl:part name="parameters" element="ns:consultaGravame" />
  </wsdl:message>
  <wsdl:message name="consultaGravameResponse">
    <wsdl:part name="parameters" element="ns:consultaGravameResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaPortType">
    <wsdl:operation name="consultaRf">
      <wsdl:input wsaw:Action="urn:consultaRf" message="ns:consultaRfRequest" />
      <wsdl:output wsaw:Action="urn:consultaRfResponse" message="ns:consultaRfResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultaGravame">
      <wsdl:input wsaw:Action="urn:consultaGravame" message="ns:consultaGravameRequest" />
      <wsdl:output wsaw:Action="urn:consultaGravameResponse" message="ns:consultaGravameResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaSoap11Binding" type="ns:ConsultaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaGravame">
      <soap:operation soapAction="urn:consultaGravame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaRf">
      <soap:operation soapAction="urn:consultaRf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaSoap12Binding" type="ns:ConsultaPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaGravame">
      <soap12:operation soapAction="urn:consultaGravame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaRf">
      <soap12:operation soapAction="urn:consultaRf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaHttpBinding" type="ns:ConsultaPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="consultaGravame">
      <http:operation location="consultaGravame" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaRf">
      <http:operation location="consultaRf" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Consulta">
    <wsdl:port name="ConsultaHttpSoap11Endpoint" binding="ns:ConsultaSoap11Binding">
      <soap:address location="http://177.139.253.143:8080/ConsultasWS/services/Consulta.ConsultaHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ConsultaHttpSoap12Endpoint" binding="ns:ConsultaSoap12Binding">
      <soap12:address location="http://177.139.253.143:8080/ConsultasWS/services/Consulta.ConsultaHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ConsultaHttpEndpoint" binding="ns:ConsultaHttpBinding">
      <http:address location="http://177.139.253.143:8080/ConsultasWS/services/Consulta.ConsultaHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>